
body{
    margin: auto;
    padding: 5%;
}
#foodar{
    padding-left: 15%;
    font-size: 50px;
    text-align: left;
    word-spacing: 18em;
}
#find{
    font-size:50px;
    word-spacing: .2em;
}
#typezip{
    font-size:20px;
}
a{
    text-decoration: none;
    font-size: 14pt;
}

a:link{
    text-decoration: none;
    color: rgb(65, 211, 52);
}

a:visited{
    color: darkred;
}

a:hover{
    color: rgb(211, 94, 52);
    background: black;
}

a:active{
    color: green;
    background:beige;
}
li, #copy{
    list-style-type: none;
    text-align: right;
}