header {
    color:rgb(9, 59, 117);
    font-size: 2em;
}

body {
 background-color:rgb(33,33,33, .5);  
 padding: 15px; 
}

h1, h2 {
    background-color:rgb(200, 176, 87);
    text-align: center;
    padding: 5px;
}

p {
    color: white;
    padding: 10px;
    font-size: 1.5em;
}
a{
    text-decoration: none;
    font-size: 14pt;
}

a:link{
    text-decoration: none;
    color: rgb(65, 211, 52);
}

a:visited{
    color: darkred;
}

a:hover{
    color: rgb(211, 94, 52);
    background: black;
}

a:active{
    color: green;
    background:yellow;
}
li{
    list-style-type: none;
}